$alert-transition-duration: 150ms;
$alert-width: 50vw;
$alert-top-spacing: 2rem;

.alert {
  position: absolute;
  transition: $alert-transition-duration ease-in-out;
  top: $alert-top-spacing;
  left: 50%;
  padding: 1rem 1.5rem;
  width: $alert-width;
  margin-left: -$alert-width * 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .alert-text {
    margin-right: auto;
    word-break: break-all;
  }

  .alert-icon {
    font-size: 1.25rem;
    margin-right: 1.5rem;
  }

  .close-alert-btnd {
    font-size: 1.25rem;
    cursor: pointer;
  }

  p {
    margin-bottom: 0;
  }
}

.alert-enter {
  opacity: 0;
  top: -5rem;
  opacity: 1;
}

.alert-enter-active {
  top: $alert-top-spacing * 1.25;
}

.alert-enter-done {
  top: $alert-top-spacing;
}

.alert-exit {
  opacity: 1;
  top: $alert-top-spacing;
}

.alert-exit-active {
  opacity: 0;
  top: -5rem;
}