@use '../variables/other' as vars;

form {
  width: 60vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  .input-group {
    flex-wrap: nowrap;

    .css-2b097c-container {
      width: 100%;

      .css-yk16xz-control {
        border-radius: 0 vars.$border-radius vars.$border-radius 0;
      }

      .css-1pahdxg-control {
        @extend .css-yk16xz-control;

        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
      }
      
    }
  }


  .form-item {
    width: 100%;
    margin-bottom: .5rem;

    .input-group-text {
      color: #555;

      &.length-counter {
        font-weight: bolder;
      }
    }

    .password-input {
      border-right: none;
    }

    .toggle-password-icon {
      display: flex;
      align-items: center;

      svg {
        font-size: 1.125rem;
      }
    }

    .toggle-password-icon.btn-outline-secondary {
      border-color: #ced4da;
      border-left: none;
      border-right: none;

      &:focus {
        border-color: #ced4da;
      }

      &:hover {
        border-color: #6c757d;
      }

    }
  }

  .btn-success {
    margin-top: .5rem;
  }

  .top-row {
    @extend .form-item;

    display: flex;
    align-items: center;
    justify-content: left;

    .form-item {
      margin: 0 1rem 0 0;
      width: 50%;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
