@use '../variables/other' as vars;

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;

  a {
    text-decoration: none;
  }

  .add-button {
    font-weight: 500;
    vertical-align: middle;

    svg {
      margin-left: .5rem;
    }
  }
}

.credentials-container {
  padding: 2rem;

  .credentials-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: vars.$border-radius;
    padding: 1.5rem 1.75rem 1.5rem 0;
    margin-bottom: .5rem; 
    color: #fff;

    .name-container {
      height: 4rem;
      border-right: 3px solid #aaa;
      width: 25%;
      margin: 0 1.5rem;
      padding-right: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      h3 {
        margin-bottom: 0;
      }
    }

    .data-container {
      margin-right: auto;
    }

    .buttons-container {
      .btn {
        margin-left: .5rem;
  
        &:first-child {
          margin-left: 0;
        }
      }
    }


    .data-item {
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .action-btn {
        margin-left: 1.5rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    p, h6 {
      margin-bottom: 0;
    }
  }
}
