@use '../variables/other' as vars;

$shown-bg: #212529;
$hidden-bg: lighten($shown-bg, 20%);

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;

  a {
    text-decoration: none;
  }

  .add-button {
    font-weight: 500;
    vertical-align: middle;

    svg {
      margin-left: .5rem;
    }
  }
}

.credentials-container {
  padding: 2rem;

  .credentials-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: vars.$border-radius;
    padding: 1.5rem 1.75rem 1.5rem 0;
    margin-bottom: .5rem; 
    color: #fff;

    .name-container {
      height: 4rem;
      border-right: 3px solid #aaa;
      width: 25%;
      margin: 0 1.5rem;
      padding-right: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      h3 {
        margin-bottom: 0;
      }
    }

    .data-container {
      margin-right: auto;
      word-break: break-all;
      max-width: 50%;
    }

    .buttons-container {
      .btn {
        margin-left: .5rem;
  
        &:first-child {
          margin-left: 0;
        }
      }
    }

    .data-item {
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .data-item__buttons {
        display: flex;
        align-items: center;
      }

      .action-btn {
        text-align: center;
        margin-left: 0.5rem;

        svg {
          transition: vars.$trasition-duration;

          &.animating {
            animation: iconChange .3s ease-in;
          }

          @keyframes iconChange {
            0% {
              opacity: 1;
              transform: translateX(0%);
            }
            50%  {
              opacity: 0;
              transform: translateX(100%);
            }
            100% {
              opacity: 1;
              transform: translateX(0%);
            }
          }
        }

        &:first-child {
          margin-left: 1.25rem;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      .data-content {
        margin-top: 0.25rem;
        transition: vars.$trasition-duration;

        &.hidden {
          color: $hidden-bg;
          cursor: wait;
          user-select: none;
          border-radius: vars.$border-radius * 0.5;
          background-color: $hidden-bg !important;
        }

        &.visible {
          color: #fff;
        }
      }
    }

    p, h6 {
      margin-bottom: 0;
    }
  }
}
