.container {
  .block {
    display: flex;
    align-items: center;
    padding-top: 2rem;

    h5 {
      margin-bottom: 0;
    }
  }

  .logged-in-as {
    button {
      margin-left: 1rem;
    }
  }
}